<a href="https://colab.research.google.com/github/parkrokr/python_learnig/blob/main/20210811_%ED%99%8D%EB%8C%80%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 반복문 

# while : 조건이 맞으면 무한반복
# for : 조건이 맞으면 유한 반복

# while 조건:

hit = 0

while hit < 10:
  hit = hit + 1
  print('나무를 {} 번 찍었습니다 . '.format(hit))
  if hit == 10:
    print('나무가 쓰러졌습니다.')

나무를 1 번 찍었습니다 .
나무를 2 번 찍었습니다 .
나무를 3 번 찍었습니다 .
나무를 4 번 찍었습니다 .
나무를 5 번 찍었습니다 .
나무를 6 번 찍었습니다 .
나무를 7 번 찍었습니다 .
나무를 8 번 찍었습니다 .
나무를 9 번 찍었습니다 .
나무를 10 번 찍었습니다 .
나무가 쓰러졌습니다.

In [ ]:
coffee = 10

while True:
  coffee = coffee -1
  print('커피를 한잔팔고, {}잔 남았습니다. '.format(coffee))
  if coffee == 0:
    print('커피를 모두 팔았습니다.')
    break # 반복문을 돌리다가 break 만나면 , 그 반복문을 강제로 나감

커피를 한잔팔고, 9잔 남았습니다.
커피를 한잔팔고, 8잔 남았습니다.
커피를 한잔팔고, 7잔 남았습니다.
커피를 한잔팔고, 6잔 남았습니다.
커피를 한잔팔고, 5잔 남았습니다.
커피를 한잔팔고, 4잔 남았습니다.
커피를 한잔팔고, 3잔 남았습니다.
커피를 한잔팔고, 2잔 남았습니다.
커피를 한잔팔고, 1잔 남았습니다.
커피를 한잔팔고, 0잔 남았습니다.
커피를 모두 팔았습니다.

In [ ]:
a = 0

while a<10: # <- 여기로 이동
  a += 1
  if a % 2 == 0:
    continue # 반복문을 돌리다가 continue 를 만나면 
  print(a)

1
3
5
7
9

In [ ]:

sumi = 0
num = 1

while num<1001:
  if num % 3 == 0:
    sumi += num
  num += 1
print(sumi)

166833

In [ ]:
# for : 순서가 있는 유한반복
 
# for 변수 in 반복해서 돌리고 싶은것:
 
box = [(1,2),(3,4),(5,6)]

for i,j in box:
   print(i+j)

3
7
11

In [ ]:

students = [90, 25, 75,45, 100]
num = 0

for i in students:
  num += 1
  if i > 60:
    print(f'{num}번 학생 합격 -- {i}점')

1번 학생 합격 -- 90점
3번 학생 합격 -- 75점
5번 학생 합격 -- 100점

In [ ]:
students = [90, 25, 75,45, 100]
num = 0

for i in students:
  num += 1
  if i < 60:
    continue
  print(f'{num}번 학생 합격 -- {i}점')

1번 학생 합격 -- 90점
3번 학생 합격 -- 75점
5번 학생 합격 -- 100점

In [ ]:

# 1~100 까지 더하면?
 
a = 0
for i in range(1,101):
  a += i
a

5050

In [ ]:

for i in range(1,101,5):
  print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2, 10):
  for j in range(1, 10):
    print('{} X {} = {}.'.format(i , j, i*j))
  print()

2 X 1 = 2.
2 X 2 = 4.
2 X 3 = 6.
2 X 4 = 8.
2 X 5 = 10.
2 X 6 = 12.
2 X 7 = 14.
2 X 8 = 16.
2 X 9 = 18.

3 X 1 = 3.
3 X 2 = 6.
3 X 3 = 9.
3 X 4 = 12.
3 X 5 = 15.
3 X 6 = 18.
3 X 7 = 21.
3 X 8 = 24.
3 X 9 = 27.

4 X 1 = 4.
4 X 2 = 8.
4 X 3 = 12.
4 X 4 = 16.
4 X 5 = 20.
4 X 6 = 24.
4 X 7 = 28.
4 X 8 = 32.
4 X 9 = 36.

5 X 1 = 5.
5 X 2 = 10.
5 X 3 = 15.
5 X 4 = 20.
5 X 5 = 25.
5 X 6 = 30.
5 X 7 = 35.
5 X 8 = 40.
5 X 9 = 45.

6 X 1 = 6.
6 X 2 = 12.
6 X 3 = 18.
6 X 4 = 24.
6 X 5 = 30.
6 X 6 = 36.
6 X 7 = 42.
6 X 8 = 48.
6 X 9 = 54.

7 X 1 = 7.
7 X 2 = 14.
7 X 3 = 21.
7 X 4 = 28.
7 X 5 = 35.
7 X 6 = 42.
7 X 7 = 49.
7 X 8 = 56.
7 X 9 = 63.

8 X 1 = 8.
8 X 2 = 16.
8 X 3 = 24.
8 X 4 = 32.
8 X 5 = 40.
8 X 6 = 48.
8 X 7 = 56.
8 X 8 = 64.
8 X 9 = 72.

9 X 1 = 9.
9 X 2 = 18.
9 X 3 = 27.
9 X 4 = 36.
9 X 5 = 45.
9 X 6 = 54.
9 X 7 = 63.
9 X 8 = 72.
9 X 9 = 81.

In [ ]:
for i in range(5,0,-1):
  print('*' * i)

*****
****
***
**
*

In [ ]:
box = []

for i in range(1,6):
  box.append(i)

box

[1, 2, 3, 4, 5]

In [ ]:
box = [i for i in range(1 , 11)]
box

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
box = [i for i in range(1 , 11) if i % 2 == 0]
box

[2, 4, 6, 8, 10]

In [ ]:
box = [5 for i in range(1 , 11)]
box

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
box = [i*j for i in range(1 , 11) for j in range(1,11)] 
box

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [ ]:
# 함수 : 미리 만들어놓고 필요할떄 가져다 쓰는 것

# def 함수이름(매개변수):

def add(a, b):
  return a + b

z = add(3, 4)
z

7

In [ ]:
def pyth(a,b):
  return (a**2 + b**2)**(1/2)

z = pyth(3,4)
z

5.0

In [ ]:
def say():
  return 'hello'

z = say()
z

'hello'

In [ ]:
def add(a, b):
  print(a + b)

z = add(3, 4)
print(z)

7
None

In [ ]:
def intro(name,age,sex = True):
  print('나의 이름은 {}입니다.'.format(name))
  print('나의 나이는 {}입니다.'.format(age))
  if sex == True:
    print('나는 남자입니다.')
  else:
    print('나는 여자입니다.')

intro('박형동',23)

나의 이름은 박형동입니다.
나의 나이는 23입니다.
나는 남자입니다.

In [ ]:

def test():
  a = 5
  return a

a = 0
test()
print(a)

0

In [ ]:
def test():
  global a
  a = 5
  

a = 0
test()
print(a)

5

In [ ]:
#아주 간단한 함수를 만들떈 lambda

add = lambda a,b:a+b

In [ ]:
def fac(n):
  if n == 0:
    return 1
  return n * fac(n-1)

  fac(5)

In [ ]:
print(fac(5))

120

In [ ]:
def fac(n):
  a = 1
  for i in range(1, n+1):
    a *= i
  return a
  
fac(5)

120

In [ ]:
# 재귀함수
def fac(n):
  if n == 1:
    return 1
  else:
    return n * fac(n-1)

In [ ]:
dic = {1 : 1,
       2 : 1}

def pivo(n):
  if n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    return piv(n -1) + piv(n -2)

In [ ]:
pivo(5)

5

In [ ]:
pivo(6)

8

In [ ]:
pivo(35)

9227465

In [ ]:
dic = {1 : 1,
       2 : 1}

def pivo(n):
  if n in dic:
    return dic[n]
  else:
    dic[n] = pivo(n-1) + pivo(n-2)
  return dic[n]
pivo(35)

9227465

In [ ]:
# 파일 만들기

# wt : 메모장 test.txt 파일을 쓰기 위해 오픈한다

f = open('test.txt','wt')

for i in range(1,11):
  f.write('{}번째 줄입니다.\n'.format(i))

f.close()

In [ ]:
# at : attach textr

f = open('test.txt','wt')

for i in range(1,11):
  f.write('{}번째 줄입니다.\n'.format(i))

f.close()

In [ ]:
f = open('test.txt', 'rt')

text_data = f.read()

f.close()

print(text_data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open('test.txt', 'rt')

text_data = f.readlines()

f.close()

print(text_data)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [ ]:
abs(-5) # 절대값

5

In [ ]:
# enumerate 첫번쨰 변수에 위치, 뒷변수에 값

box = ['장원영', '백현', '아이유']
for i,j in enumerate(box):
  print(i,j)

0 장원영
1 백현
2 아이유

In [ ]:
a = input('값을 입력해 주세요 : ') # 무저건 문지열로 반환

값을 입력해 주세요 : 5

In [ ]:
a

'5'

In [ ]:
a = int(input('값을 입력해 주세요 : '))

값을 입력해 주세요 : 5

In [ ]:
a

5

In [ ]:
int('5')

5

In [ ]:
int(3.1414592)

3

In [ ]:
int('11',2) # 이진법 을 10진법을 변환

3

In [ ]:
int('1A',16)

26

In [ ]:
# 문자열 다루는 문제 : Python

list('python') # 문자 하나하나 잘라줌

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
max([1,2,3,4,5,6])

6

In [ ]:
min([1,2,3,4,5,6])

1

In [ ]:
sum([1,2,3,4,5])

TypeError: ignored

In [ ]:
round(2,1)

2

In [ ]:
round(5.6)

6

In [ ]:
sorted([1,4,3,2])

[1, 2, 3, 4]

In [ ]:
a = [1,4,3,2]
a.sort() # 리스트 전용 함수

In [ ]:
str(5) # 문자로 반환

'5'

In [ ]:
type('aaa')

str

In [ ]:
type([])

list

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]

for i,j in zip(a,b):
  print(i,j)

1 5
2 6
3 7
4 8

In [ ]:
round(3.141592,2)

3.14

In [ ]:
round(345,-2)

300

In [ ]:
round(345,-1)

340

In [ ]:
round(345,0)

345

In [ ]:
round(345,1)

345